@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

.board {
    width: 300px; /* Total horizontal dimensions */
    height: 300px; /* Total vertical dimensions */
    display: grid; /* Enables CSS Grid */ 
    grid-template-columns: repeat(3, 1fr); /* Total horizontal space broken into 3 columns */
    grid-template-rows: repeat(3, 1fr); /* Total vertical space broken into 3 rows */
    margin: auto;
}

.square {
  border: 1px solid white; /* Shows the lines in the CSS grid */
  background: #90a3b0;
  color: white;
  font-size: 25px;
}

.container {
	text-align:center;
	color: #242526;
	font-family: 'DotGothic16', sans-serif;
}